<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <mat-card id="main-sidenav">
                <nav class="nav flex-column m-b">
                    <a [routerLink]="['/dashboard']" class="nav-link">Dashboard</a>
                </nav>
                <div class="nav flex-column m-b">
                    <a [routerLink]="['/versions']" class="nav-link">Versions</a>
                </div>
                <div class="nav flex-column m-b">
                    <a [routerLink]="['/contracts']" class="nav-link">Contracts</a>
                    <a [routerLink]="['/products']" class="nav-link">Products</a>
                </div>
            </mat-card>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Help </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>   
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>